/* Home.css */

.App {
  font-family: "Ubuntu", Arial, sans-serif;
  min-height: 100vh;
  min-width: 100%;
  top: 0;
  background-color: #bdd0b5;

}

.Home {
  padding: 20px;
  min-height: 100vh;
}



.lander {
  text-align: center;
  padding: 50px 20px;
}

.lander h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.lander .box {
  margin-top: 20px;
}
.search-create-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-create-delete-container .form-control {
  flex: 3; /* Adjust this value to allocate space */
  margin-right: 10px;
}

.search-create-delete-container .create-note-button,
.search-create-delete-container .delete-all-button {
  flex: 1;
  margin-left: 10px;
}

.notes {
  padding: 20px;
}

.notes h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.notes .pb-3 {
  padding-bottom: 1rem;
}

.notes .mt-4 {
  margin-top: 1.5rem;
}

.notes .mb-3 {
  margin-bottom: 1rem;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.note-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.note-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.note-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.note-card h3 {
  font-size: 18px;
  margin: 10px 0;
}


@media (min-width: 576px) {
  .lander h1 {
      font-size: 4rem;
  }

  .notes h2 {
      font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .lander h1 {
      font-size: 5rem;
  }

  .notes h2 {
      font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .lander h1 {
      font-size: 6rem;
  }

  .notes h2 {
      font-size: 3rem;
  }
}
